@import "../../defaults.scss";

.header{
    padding: 20px;

    @media screen and (max-resolution: 199dpi) { //desktop
        min-height: 100px;
        height: 8vh;
    }
    @media screen and (min-resolution: 200dpi) { //mobile
        height: 11vh;
        min-height: 90px;
    }       
}

.content{
    overflow-y: scroll;
    background-color: white;
    @media screen and (min-resolution: 200dpi) {
        height: 89vh;
    }  

    @media screen and (min-height: 800px) {
        height: 92vh;
    }
}

.calendar{
    margin: 4px;
}

.dropdown{
    
    text-align: center;
    @media screen and (max-resolution: 199dpi) { //desktop
        width: 550px;
    }

    h2{
        font-size: 1.5em;
    }

    
}

.date_preset_container{
    font-size: 0.8em;
}

.date_preset{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 2px 8px 2px 8px;
    margin: 3px;
    cursor: pointer;
    user-select: none;
    color: #51c93d !important;
    background-color: #f0f4ed;
    border: 1px solid #f0f4ed;
    &:hover{
        font-weight: bold;
    }
}