@import "../../defaults.scss";

.tasklist{
    background-color: #fafbfc;
    overflow-y: scroll;
    //background-color: blue;

    @media screen and (min-resolution: 200dpi) {
        height: 84vh;
    }
    
   

    @media screen and (min-height: 800px) {
        height: 92vh;
    }
}