@import "../../defaults.scss";

.tasklist{
    background-color: #fafbfc;
    overflow-y: scroll;
    //background-color: blue;

    @media screen and (min-resolution: 200dpi) {
        height: calc(var(--vh, 1vh) * 83); //fix para chrome mobile
    }
    
   

    @media screen and (max-resolution: 199dpi) {
        height: 92vh;
    }
}