@import "../../defaults.scss";

.tasklist{
    background-color: #fafbfc;
    overflow-y: scroll;
    //background-color: blue;

    @media screen and (min-resolution: 200dpi) and (orientation:portrait) {
        height: calc(var(--vh, 1vh) * 83); //fix para chrome mobile
    }

    @media screen and (min-resolution: 200dpi) and (orientation:landscape) {
        height: calc(var(--vh, 1vh) * 72); //fix para chrome mobile
    }

    @media screen and (max-resolution: 199dpi) {
        height: 92vh;
    }

    &::-webkit-scrollbar-track
    {
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: $primary-color;
        border: none;
    }
}