@import "../../defaults.scss";

.container{
    padding: 0 !important;
}

.container, .row{
    height: 100% !important;
}


.logo{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

    .text{
        color: white;
        font-size: 1.5em;
        @media screen and (max-width: $large-device) {
            display: none
        }
    }    
    
   

    img{
        width: 40px;
        height: 40px;
    }
}

.ul{
    list-style: none;
    
    @media screen and (max-width: $large-device) { //compacto
        padding-left: 7px !important;
        margin-left: 2em !important;
    }
    @media screen and (min-width: $large-device) { //desplegado
        padding-left: 0px !important;
        margin-left: 2em !important;
    }
}

.li{
    font-size: 0.9em;
    height: 1.2em;
    margin-bottom: 25px;
    i {
        font-size: 1.1em;
        margin-right: 10px;
        @media screen and (max-width: $large-device) {
            margin: auto;
        }
    }
    .item_text{
        @media screen and (max-width: $large-device) {
            display: none
        }
    }
}

.is_active{
    color: $complementary-color;
}

.menu{
    height: 100vh !important;
    max-height: 100% !important;
}