@import "../../defaults.scss";

.header{
    @media screen and (max-resolution: 199dpi) { //desktop
        height: 10vh;
        min-height: 100px;
        padding: 1rem 1rem 2rem 1rem ;
    }
    @media screen and (min-resolution: 200dpi) and (orientation: portrait){ //mobile
        height: calc(var(--vh, 1vh) * 13); //fix para chrome mobile
        min-height: 90px;
        padding: 0.5rem 0.5rem 2rem 0.5rem;
    }
    @media screen and (min-resolution: 200dpi) and (orientation: landscape){ //mobile
        height: calc(var(--vh, 1vh) * 23); //fix para chrome mobile
        min-height: 80px;
        padding: 0.5rem 0.5rem 2rem 0.5rem;
    }

}

.projectlist{
    background-color: white;
}

.input{
    width: 80%;
    font-size: 1.4em;
    border-top: 1px solid #eeeeee;
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 5px 5px lightgrey;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    &:focus {
        outline: none;
      }
}

.color{
    font-size: 2em;
    margin: 4px;
    cursor: pointer;
}

.color_dropdown{
    width: 12em;
}

.dropdown_btn{
    background-color: white;
    margin: 10px;
}

.modal_body{
    background-color: #fafbfc;
}