@import "../../defaults.scss";

.header{
    @media screen and (max-resolution: 199dpi) { //desktop
        min-height: 80px;
        height: 6vh;
        padding: 1rem 1rem 1rem 1rem ;
    }
    @media screen and (min-resolution: 200dpi) { //mobile
        height: calc(var(--vh, 1vh) * 13); //fix para chrome mobile
        min-height: 90px;
        padding: 0.5rem 0.5rem 2rem 0.5rem;
    }

}

.filters_bar{
    text-align: center;
    box-shadow: 0px 5px 5px lightgrey;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    @media screen and (max-resolution: 199dpi) { //desktop
        min-height: 30px;
        height: 3vh;
        padding: 0rem 1rem 0rem 1rem;
    }
    @media screen and (min-resolution: 200dpi) { //mobile
        height: calc(var(--vh, 1vh) * 3); //fix para chrome mobile
        min-height: 30px;
        padding: 0rem 1rem 0rem 1rem;
    }
}

.btn{
    display: inline-flex;
    position: relative;
    color: lightgrey;
    font-size: 1.1em;
    padding: 0;
    margin: 4px;
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      color: grey;
    }
    &:active {
      color: grey;
    }
  }

.btn_switch_chart{
    border-radius: 3px;
    border: none;

    i{
        margin-right: 5px;
    }
}

.tasklist{
    background-color: #fafbfc;
    overflow-y: scroll;
    padding-bottom: 40px;

    @media screen and (max-resolution: 199dpi) {
        height: 91vh;
    }

    @media screen and (min-resolution: 200dpi) {
        height: calc(var(--vh, 1vh) * 84); //fix para chrome mobile
    }


    &::-webkit-scrollbar-track
    {
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: $primary-color;
        border: none;
    }
}

.barchart{
    h2{
        text-align: center;
    }
    @media screen and (max-resolution: 199dpi) {//desktop
        height: 40%;
    }

    @media screen and (min-resolution: 200dpi) {//mobile
        height: 400px;
    }
}

.piechart{
    @media screen and (max-resolution: 199dpi) {//desktop
        height: 30%;
    }

    @media screen and (min-resolution: 200dpi) {//mobile
        height: 200px;
    }
}

.calendar{
    margin: 4px;
}

.dropdown{

    text-align: center;
    @media screen and (max-resolution: 199dpi) { //desktop
        width: 550px;
    }

    h2{
        font-size: 1.5em;
    }


}

.date_preset_container{
    font-size: 0.8em;
}

.filter_span{
    vertical-align: text-bottom;
}

.date_preset{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 2px 8px 2px 8px;
    margin: 3px;
    cursor: pointer;
    user-select: none;
    color: #51c93d !important;
    background-color: #f0f4ed;
    border: 1px solid #f0f4ed;
    &:hover{
        font-weight: bold;
    }
}

.project_list{
    list-style-type: none;
    margin-top: 40px;
    @media screen and (min-resolution: 200dpi) {//mobile
        margin-top: 90px;
        margin-bottom: 0px;
    }
    li{
        @media screen and (max-resolution: 199dpi) {//desktop
            display: inline;
            margin: 10px;
        }

        @media screen and (min-resolution: 200dpi) {//mobile
            display: block;

        }
    }
}