@import "../../defaults.scss";

.task{
    border-bottom: 1px solid lightgrey;
    padding: 20px;

    &:hover{
        background-color: #fafafa;
    }
}

.child_task{
  @extend .task;
  background-color: #fafbfc;
  border-left: 3px solid #51c93d;
  @media screen and (max-width: $large-device) {
    padding-left: 20px;
  }
  @media screen and (min-width: $large-device) {
    padding-left: 50px;
  }
  &:hover{
    background-color: #e6e6e6;
  }
}

.dates{
    padding-left: 20px;
    padding-right: 20px;
}

.desc{
  margin-bottom: 6px;
}

.desc_dropdown{
  width: 50vw;
  transform: translate3d(0px, 30px, 0px) !important;
}

.input_desc{
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.toggle{
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 2px 8px 2px 8px;
  margin-right: 6px;
  cursor: pointer;
  user-select: none;
}

.toggled{
  @extend .toggle;
  color: #51c93d !important;
  background-color: #f0f4ed;
  border: 1px solid #f0f4ed;
}

.input_hour{
  width: 5ch;
  border: none;
  text-align: center;
}

.dropdown_menu{
  min-width: 0 !important;
  top: auto !important;
  left: auto !important;
  right: 0 !important;
  margin: 0 !important;
}

.menu_item{
  cursor: pointer;
}

.calendar{
  z-index: 99999;
}

.btn{
    color: grey;
    font-size: 1em;
    padding: 0;
    margin: 4px;
    margin-left: 10px;
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      color:$complementary-color;
    }
    &:active {
      color: $quaternary-color;
    }
  }

  .label{
    font-size: 0.8em;
    margin: 8px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;

    i{
      font-size: 0.5em;
      vertical-align: middle
    }

  }

  .datepicker{
    z-index: 99999;
  }