@import "../../defaults.scss";

.header{
    padding: 20px;

    @media screen and (max-resolution: 199dpi) { //desktop
        min-height: 100px;
        height: 8vh;
    }
    @media screen and (min-resolution: 200dpi) { //mobile
        height: calc(var(--vh, 1vh) * 11); //fix para chrome mobile
        min-height: 90px;
    }       
}


.project_detail{
    overflow-y: scroll;
    background-color: white;
    @media screen and (min-resolution: 200dpi) {
        height: calc(var(--vh, 1vh) * 89); //fix para chrome mobile
    }  

    @media screen and (min-height: 800px) {
        height: 92vh;
    }
}

.input{
    width: 100%;
    font-size: 1.4em;
    border-top: 1px solid #eeeeee;
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 5px 5px lightgrey;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    &:focus {
        outline: none;
      }
}

.color{
    font-size: 2em;
    margin: 4px;
    cursor: pointer;
}

.color_dropdown{
    width: 12em;
}

.dropdown_btn{
    background-color: white;
    margin: 10px;
}

.member{
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    list-style-type: none;

    &:hover{
        background-color: #fafafa;
    }

    i{
        &:hover{
            cursor: pointer;
        }
    }
}

.li{
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    list-style-type: none;

    &:hover{
        background-color: #fafafa;
    }
}