@import "../../defaults.scss";

/*default styles*******************************************************/
body{
    overflow-y: hidden;
    margin:0;
    padding:0;
    height: 100%;

    h1{
        color: $primary-color;
    }

    h2{
        color: $primary-color;
    }
}
/*********************************************************************/

.app, .containerflex, .row{
    height: 100%;
    margin: 0 !important;
}


.menu{
    color: white;
    background-color: $quaternary-color;
    z-index: 9999;

    @media screen and (min-width: $large-device) {
        min-width: 160px;
    }
    @media screen and (max-width: $large-device) {
        padding-left: 4px;
        padding-right: 4px;
        min-width: 58px;
    }
}


.content{
    background: white;
    background: linear-gradient(to top, rgb(197, 177, 224) 0%, rgb(255, 255, 255) 40%);
    width: calc(100% - 160px);
}

