@import "../../defaults.scss";

/*default styles*******************************************************/
body{
    overflow-y: hidden;
    margin:0;
    padding:0;
    height: 100%;
}
/*********************************************************************/

.app, .containerflex, .row{
    height: 100%;
    margin: 0 !important;
}


.menu{
    color: white;
    background-color: $quaternary-color;
    
    @media screen and (min-width: $large-device) {
        min-width: 160px;
    }
    @media screen and (max-width: $large-device) {
        padding-left: 4px;
        padding-right: 4px;
    }
}


.content{
    background-color: white}

