@import "../../defaults.scss";

.app, .containerflex, .row{
    height: 100%;
}


.menu{
    color: white;
    background-color: $quaternary-color;
    @media screen and (min-width: $large-device) {
        min-width: 300px;
    }
}


.content{
    background-color: grey;
}

