@import "../../defaults.scss";

.header{
    padding: 20px;

    @media screen and (max-resolution: 199dpi) { //desktop
        height: 10vh;
        min-height: 100px;
    }
    @media screen and (min-resolution: 200dpi) { //mobile
        height: 13vh;
    } 
}

.taglist{
    text-align: center;
    overflow-y: hidden;
    background-color: white;
}

.input{
    width: 80%;
    font-size: 1.4em;
    border-top: 1px solid #eeeeee;
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 5px 5px lightgrey;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    &:focus {
        outline: none;
      }
}


.dropdown_btn{
    background-color: white;
    margin: 10px;
}

.modal_body{
    background-color: #fafbfc;
}