@import "../../defaults.scss";



.btn{
  color: lightgrey;
  font-size: 1.1em;
  padding: 0;
  margin: 4px;
  margin-right: 15px;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: grey;
  }
  &:active {
    color: grey;
  }
}


.search_input{

  &:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
 
}

.menu{
  padding: 20px;
}