@import "../../defaults.scss";

.header{
    padding: 20px;

    @media screen and (max-resolution: 199dpi) { //desktop
        height: 8vh;
        min-height: 80px;
    }
    @media screen and (min-resolution: 200dpi) { //mobile
        height: calc(var(--vh, 1vh) * 9); //fix para chrome mobile
    }
    cursor: pointer;
    user-select: none;
}

.list{
    overflow-y: scroll;
    //background-color: blue;

    @media screen and (max-resolution: 199dpi) { //desktop
        height: 82vh;
    }

    @media screen and (min-resolution: 200dpi) { //mobile
        height: calc(var(--vh, 1vh) * 77); //fix para chrome mobile
    }


}

.paddings{
    padding-left: 20px;
    padding-right: 37px;
}