
@import "../../defaults.scss";
.date{
    list-style-type: none;
    margin: 20px 0 0 0;
    background-color: #ffffff;
    h2{
        font-size: 0.9em;
    }

    .header{
        @media screen and (max-width: $large-device) {
          padding: 10px;
        }
        @media screen and (min-width: $large-device) {
          padding: 20px;
        }
    }
  }