@import "../../defaults.scss";

.group{
  display: inline-flex;
  position: relative;

  .icon{
    margin: 4px;
    color: lightgrey;
  }

  .icon_active{
    @extend .icon;
    color: grey;
  }

  .input{
    font-size: 0.8em;
    line-height: 0.7;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 1px 6px 2px 6px;
    @media screen and (max-resolution: 199dpi) {
      width: 25ch;
    }

    @media screen and (min-resolution: 200dpi) {
      width: 18ch;
    }
  }
}