@import "../../defaults.scss";



  .label{
    display: inline-block;
    font-size: 1.2em;
    margin: 8px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;
    white-space: nowrap;
    @media screen and (min-resolution: 200dpi) {
      font-size: 0.8em;
      margin: 8px;
      padding: 0px;
    }

    i{
      color: rgb(170, 170, 170);
      font-size: 1em;
      vertical-align: middle;
      padding-bottom: 6px;
    }

  }