@import "../../defaults.scss";

.form_signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
    padding-bottom: 400px;
  }

  .form_label_group {
    position: relative;
    margin-bottom: 1rem;
  }
  
