@import "../../defaults.scss";

.form_signin {
    font-size: 0.8em;
    width: 100%;
    max-width: 320px;
    padding: 30px;

    @media screen and (max-resolution: 199dpi) { //desktop
      margin: 15vh auto;
      border: 1px solid $primary-color;
      border-radius: 5px;
    }

    @media screen and (min-resolution: 200dpi) and (orientation:portrait) { //mobile
      margin: 15vh auto;
      border: none;
      border-radius: 5px;
    }

    @media screen and (min-resolution: 200dpi) and (orientation:landscape) { //mobile
      margin: 0 auto;
      border: none;
      border-radius: 5px;
    }

    h1{
      font-size: 1.8em;
      color: $primary-color;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 20px;

      @media screen and (min-resolution: 200dpi) and (orientation:landscape) { //mobile
        display:none;
      }

    }
    .form_label_group {
      position: relative;
      margin-bottom: 1rem;
    }

    img{
      width: 100%;
    }

  }


