@import "../../defaults.scss";

.form_signin {
    width: 100%;
    max-width: 420px;
    padding: 30px;
    margin: 15vh auto;
    @media screen and (max-resolution: 199dpi) { //desktop
      border: 1px solid $primary-color;
      border-radius: 5px;
    }

    h1{
      color: $primary-color;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 20px;
    }
    .form_label_group {
      position: relative;
      margin-bottom: 1rem;
    }

    img{
      width: 100%;
    }

  }


