$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1200px;

$primary-color: #4B2D73;
$secondary-color: #8D75AB;
$tertiary-color: #4C2D73;
$quaternary-color: #301354;
$complementary-color: #D4CB6A;

$warning-color: #e8a3aa;